.search-area, .list-vacansion {
    background: #ccc9c94a;
    color: white;
    border-radius: 0.5em;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

article {
    background: #ccc9c94a;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
}

.link-resume {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    padding: 5px;
}
.links{
    font-size: 50px;
}